<h1>Mis contactos</h1>

<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Teléfono</td>
      <td>Correo Electrónico</td>
      <td></td>
    </tr>
  </thead>
  <tbody id="tbody"></tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text" name="name" id="iName">
      </td>
      <td>
        <input type="text" name="phone" id="iPhone">
      </td>
      <td>
        <input type="text" name="email" id="iEmail">
      </td>
      <td><button id="addButton">Añadir</button></td>
    </tr>
  </tfoot>
</table>