<h1>Mis contactos</h1>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>Email</td>
      <td></td>
    </tr>
  </thead>
  <tbody id="tbody"></tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text" name="name" id="iName" placeholder="Name">
      </td>
      <td>
        <input type="text" name="phone" id="iPhone" placeholder="Phone">
      </td>
      <td>
        <input type="text" name="email" id="iEmail" placeholder="Email">
      </td>
      <td><button id="addButton">Add</button></td>
    </tr>
  </tfoot>
</table>